body {
	overflow: hidden;
}
#map { 
  height: 100vh;
}

#title {
	font-family:monospace;
	position: absolute;
	z-index: 1;
	left: 75px;
}

#buttons {
	position: absolute;
	z-index: 1;
	left: 18px;
	top: 75px;
}